<div>
  <h2>Welcome back, <%= @user.first_name %>!</h2>
  <div class="logout-link">Not <%= @user.first_name %>? <%= link_to "sign out", {:controller => :sessions, :action => :destroy}, :class => "logout-link" %></div><br/>
  <div class="create-request"><%= link_to "Request user permission", {:controller => :user_permission_requests, :action => :new}, :class => "create-request" %></div>
</div>

<% if @user.has_requests? %>
<h3>Requests</h3>
You have pending requests! <%= link_to "Check 'em out!", {:controller => :user_permission_requests, :action => :list}, :class => "pending-requests" %>
<% end %>

<h3>Babies</h3> 
<%= link_to "New baby", {:controller => :babies, :action => :new}, :class => "action new" %>

<table summary="list of available babies">
  <tr class="header">
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Birthday</th>
    <th>Log</th>
  </tr>
<% @user.babies.each do |b| %>
  <tr class="<%= cycle("odd", "even")%>">
    <td><%= link_to "x", :controller => :babies, :action => :destroy, :id => b.id %></td>
    <td><%= link_to b.name, :controller => :babies, :action => :show, :id => b.id %></td>
    <td><%= b.birthday.to_s(:long) %></td>
    <td>
      <%= link_to "Log", :controller => :logs, :action => :show, :id => b.log.id %> 
    </td>
  </tr>
<% end %>
</table>