
<ul data-role="listview" data-inset="true" data-dividertheme="a">
  <li data-role="list-divider" ><h2>Babies</h2></li>
  <% @user.babies.each do |b| %>
  <li data-icon="arrow-r" >
    <%= link_to :controller => :logs, :action => :show, :id => b.log.id do %>
    <h2><%= b.name %></h2>
    <p>Born <%= b.birthday.to_s(:long) %></p>
    <span class="ui-li-count"><%= b.log.log_entries.count %></span>
    <%= link_to "Edit", {:controller => :babies, :action => :show, :id => b.id}, "data-icon" => "info" %>
    <% end %>
  </li>
  <% end %>
  <li data-role="list-divider">&nbsp;</li>
  <li ><%= link_to "New Baby", :controller => :babies, :action => :new %></li>

<% if @user.has_pending_requests? %>
  <li data-role="list-divider" data-icon="arrow">Pending Requests</li>
  <li >
    <%= link_to "Baby Access Requests", {:controller => :user_permission_requests, :action => :list} %>
    <small class="counter"><%= @user.pending_request_count %></small>
  </li>
<% end %>

  <li ><%= link_to "Make Access Request", :controller => :user_permission_requests, :action => :new %></li>

</ul>
