<%= form_for :baby, :url => {:action => :create} do |f| %>
  <ul data-role="listview" data-inset="true" data-dividertheme="a">
    <li data-role="list-divider"><h3>New Baby!</h3></li>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <div data-role="field-contain">
      <%= field_set_tag("Birthday", "data-role" => "controlgroup", "data-type" => "horizontal") do %>
      <%= f.date_select :birthday, "data-inset" => "true"%>
      <% end %>
      </div>
    </li>
    <li>
      <%= label_tag "photo" %>
      <%= file_field_tag "photo", :accept => "image/png,image/gif,image/jpeg" %>
    </li>
    <li><%= f.submit "Create Baby", "data-theme" => "c" %></li>
  </ul>
<% end %>