<h2><%= @baby.name %></h2>

<%= link_to "Delete", :action => :destroy, :id => @baby.id %>

<table summary="baby details">
  <tr>
    <th>Name</th>
    <td><%= @baby.name %></td>
  </tr>
  <tr>
    <th>Birthday</th>
    <td><%= @baby.birthday.to_s(:long) %></td>
  </tr>
  <tr>
    <th>Photo</th>
    <td><%= @baby.photo_url ? image_tag(@baby.photo_url) : "n/a" %>
  </tr>
</table>

<h3>Logs</h3>
<table summary="log list">
  <tr>
    <th>Link</th>
    <th>Owner</th>
  </tr>
  <tr >
    <td><%= link_to "Log", {:controller => :logs, :action => :show, :id => @baby.log.id}, :class => "action show" %></td>
    <td><%= @baby.log.creator.display_name %> <%= @baby.log.creator.email %></td>
  </tr>
</table>

<h3>Users with access</h3>
<table summary="users with access">
  <% @baby.users.each do |u| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= u.first_name %></td>
      <td><%= u.last_name %></td>
      <td><%= u.email %></td>
      <td><%= link_to_if(@baby.owner == @user, "revoke", {:controller => :users, :action => :revoke, :id => u.id, :baby_id => @baby.id}, {:confirm => "Are you sure?"}) %>
    </tr>
  <% end %>
</table>
