
<%= form_for(:log_entry, :url => {:action => :create}) do |f| %>

<table summary="log entry form">
  <tr>
    <th>Log ID</th>
    <td><%= @log_entry.log.id %></td>
  </tr>
  <tr>
    <th>Creator</th>
    <td><%= @log_entry.creator.first_name %></td>
  </tr>
  <tr>
    <th>When</th>
    <td><%= f.text_field :when %></td>
  </tr>

<%= render(:partial => "#{@log_entry.loggable_type}_form", :locals => {:f => f}) %>
  
  <tr>
    <th>Notes</th>
    <td><%= f.text_area :notes, :size => "40x10" %></td>
  </tr>
</table>
<%= hidden_field_tag :log_id, @log_entry.log.id %>
<%= hidden_field_tag :creator_id, @log_entry.creator.id %>
<%= hidden_field_tag :type, params[:type] %>

<%= submit_tag "Create entry" %>
<% end %>