
<%= form_for(@log_entry, :url => {:action => :create}) do |f| %>

<ul data-role="listview" data-inset="true">
  <li>
    <label for="log_entry_when">When</label>
    <input type="datetime" name="log_entry[when]" id="log_entry_when" value="<%= DateTime.now.strftime("%_m/%e/%Y %l:%M %P") %>" />
  </li>

<%= render(:partial => "#{@log_entry.loggable_type}_form", :locals => {:f => f}) unless @log_entry.loggable_type == "other" %>
  <li>
    <%= f.label :notes %>
    <%= f.text_area :notes, :size => "40x10" %>
  </li>
  <li><%= button_tag "Create entry" %></li>
</ul>
<%= hidden_field_tag :log_id, @log_entry.log.id %>
<%= hidden_field_tag :creator_id, @log_entry.creator.id %>
<%= hidden_field_tag :type, params[:type] %>


<% end %>