
  <%= link_to 'Add Log Entry', {:controller => :log_entries, :action => :new_menu, :log_id => @log.id}, :class => "button", "data-theme" => "c", "data-inset" => "true", "data-role" => "button", "data-icon" => "plus" %>

  <ul data-role="listview" data-inset="true" data-dividertheme="c">
    <li data-role="list-divider" data-form="ui-bar-a"><h1><%= @log.babies.first.name %></h1></li>
    <% @log.log_entries.order("log_entries.when DESC").each do |le| %>
    <li data-icon="none" >
      <%= link_to :controller => :log_entries, :action => :show, :id => le.id do %>
      <%= entry_menu_icon(le.type, size="85x85") %>
      <h3><%= entry_details(le) %></h3>
      <p><%= entry_recorded_date(le.when) %></p>
      <% end %>
      <%= link_to "Delete Entry", {:controller => :dialogs, :action => :confirm_entry_delete, :id => le.id}, "data-icon" => "delete", "data-rel" => "dialog" %>
    </li>
    <% end %>
    <% if @log.log_entries.none? %>
      <li data-icon="alert" data-iconpos="left">No entries yet! Add one! Go on, do it!</li>
    <% end %>
  </ul>

