
  <%= link_to 'Add Log Entry', {:controller => :log_entries, :action => :new_menu, :log_id => @log.id}, :class => "button", "data-theme" => "c", "data-role" => "button" %>



  <ul data-role="listview" class="rounded" data-dividertheme="c">
    <li data-role="list-divider">  <h1><%= @log.babies.first.name %></h1> </li>
    <% @log.log_entries.order("log_entries.when DESC").each do |le| %>
    <li data-icon="none">
      <%= entry_menu_icon(le.type, size="85x85") %>
      <h3><%= entry_details(le) %></h3>
      <p><%= entry_recorded_date(le.when) %></p>
    </li>
    <% end %>
  </ul>

