<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title><%= h(yield(:title) || "Untitled") %> </title>
    <%= stylesheet_link_tag "jquery.mobile-1.2.0", "poopsy" %>
    <%= javascript_include_tag "jquery-1.8.3", "mobile", "jquery.mobile-1.2.0" %>
    <%= yield(:head) %>
  </head>
 <body data-theme="a">
    <div data-role="page" class="current scrollable">
      <% if show_title? %>
      <div data-role="header">
        <%= link_to("Back", nil, "data-icon" => "arrow-l", "data-rel" => "back", "data-inset" => "true") unless (current_page?(root_path) || current_page?(home_path)) %>

            <h1>Poopsy</h1>
            
        <%= link_to( current_user.display_name, "/user_menu.html", "data-role" => "button", "data-inline" => "true",  "data-rel" => "dialog", "data-transition" => "slidedown",  "data-icon" => "arrow-d", "data-corners" => "true", "data-theme" => "a", :class => "ui-btn-right") unless current_page?(root_path)  %>

        <%= yield(:toolbar) %>
      </div>
      <% end %>
      <% unless flash.empty? %>
      <div data-rel="popup" id="flash-info-popup" class="ui-content" data-overlaytheme="a">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
  <%
  #<script>
  #   $('#flash-info-popup').popup('open');
  #   setTimeout(function(){
  #       $('#flash-info-popup').popup('close');
  #   }, 1000);
  # </script>
  %>    
  
      <% end %>
      <div data-role="content" class="content-primary">
      
      <%= yield %>
      
      </div>
      <!--div data-role="footer">&copy; Poopsy Co.</div -->
    </div>
  </body>
</html>
