<!DOCTYPE html>
 <head>
   <title><%= h(yield(:title) || Untitled) %> </title>
   <%= stylesheet_link_tag "jquery.mobile-1.2.0", "poopsy" %>
   <%= javascript_include_tag "jquery-1.8.3", "jquery.mobile-1.2.0", "mobile" %>
   <%= yield(:head) %>
  </head>
  <body>
    <div data-role="page" class="current scrollable" data-theme="a">
      <% if show_title? %>
      <div data-role="header" class="toolbar">
        <%= link_to "Back", nil, "data-icon" => "arrow-l", :class => 
"back" unless current_page? root_path || home_path %>
        <%= link_to "Logout", {:controller => :sessions, :action => :destroy}, "data-role" => "button", "data-icon" => "back", :class => "button" %>
        <h1><%=h yield(:title) %></h1>
        <%= yield(:toolbar) %>
      </div>
      <% end %>
      <% unless flash.empty? %>
      <div data-role="popup" id="flash-info-popup" class="info">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
      <script>
        $( "#flash-info-popup" ).popup();
      </script>
      <% end %>
      <div data-role="content primary">
      
      <%= yield %>
      
      </div>
    </div>
  </body>
</html>
