<!DOCTYPE html>
 <head>
   <title><%= h(yield(:title) || Untitled) %> </title>
   <%= stylesheet_link_tag "/jqtouch/themes/css/jqtouch.css", "/jqtouch/themes/css/jqtouch.css"%>
   <%= javascript_include_tag "/jqtouch/lib/zepto.js", "/jqtouch/jqtouch.js", "mobile" %>
   <%= yield(:head) %>
  </head>
  <body>
    <div class="current scrollable">
      <% if show_title? %>
      <div class="toolbar">
        <%= link_to "Back", nil, :class => "back" unless current_page? root_path %>
        <%= link_to "Logout", {:controller => :sessions, :action => :destroy}, :class => "button" %>
        <h1><%=h yield(:title) %></h1>
        <%= yield(:toolbar) %>
      </div>
      <% end %>
      <% unless flash.empty? %>
      <div class="info">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
      <% end %>
      
      <%= yield %>
      
    </div>
  </body>
</html>